:root {
  --color-blue: #67decb;
  --color-green: #2ecc71;
  --color-orange: #ffaa34;
  --color-red: #ff6470;
  --color-yellow: #ffe315;
  --dice-size: 50px;
  --token-size: 50px;
  --radius: 30px;
  --padding: 20px;
}

body {
  font-family: "Baloo Chettan 2", cursive;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.table {
  background-color: var(--color-red);
  border-radius: var(--radius);
  box-sizing: border-box;
  max-width: 300px;
  padding: var(--padding);
}

.table-container {
  display: flex;
}

.table-container > * {
  margin: var(--padding);
  width: 50%;
}

.row {
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
  display: flex;
  height: var(--token-size);
  margin: 1em;
  width: var(--token-size);
}

.token {
  background: var(--color-yellow);
  border-radius: var(--radius);
  border: 3px solid var(--color-orange);
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--token-size);
  width: var(--token-size);
}

.token:not(:first-child) {
  transform: translateX(-50%);
}

.player {
  align-items: center;
  background-color: var(--color-red);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding);
}

.player-name {
  font-weight: bold;
  width: 100%;
}

.player-controls {
  width: 100%;
}

.dice {
  width: var(--dice-size);
}

button {
  background-color: var(--color-blue);
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
  color: white;
  font-family: "Baloo Chettan 2", cursive;
  font-weight: bold;
  height: var(--dice-size);
  margin: 1em;
  min-width: var(--dice-size);
}

button:disabled {
  background-color: rgba(255, 255, 255, 0.3);
}

.log {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.message {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin: 0.2em;
  padding: 0.5em;
  text-align: right;
  width: 100%;
}

.message.green {
  background: var(--color-green);
}

.message.red {
  background: var(--color-red);
}

.message.yellow {
  background: var(--color-yellow);
}
